@font-face {
  font-family: 'Press Start 2P', cursive;
  src: url("https://fonts.googleapis.com/css?family=Press+Start+2P");
}

body {
  font-size: 80%;
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  padding-top: 61px;  /* Move body of page below navbar. */
}

h1, h2, h3, h4 {
  font-family: 'Press Start 2P';
}

.ui.top.fixed.borderless.inverted.menu {
  background-color: darkgreen;
}

.ui.my.middle.aligned.grid.container {
  margin: 0;
  padding: 0;
}

#login-buttons a, .accounts-dialog a {
  color: white;
}

.ui.my.selectable.inverted.celled.padded.table {
  color: white;
  background: darkgreen;
  background: -webkit-linear-gradient(darkgreen, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(darkgreen, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(darkgreen, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(darkgreen, black); /* Standard syntax (must be last) */
  border: solid white;
}

.my.content, .my.sub.header {
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.my.twelve.wide.column {
  color: white;
  background: darkgreen;
  background: -webkit-linear-gradient(darkgreen, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(darkgreen, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(darkgreen, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(darkgreen, black); /* Standard syntax (must be last) */
  border: solid white;
}